*.pkl
*.pdf
*.png
*.mp4
*.svg
*.ipynb_checkpoints
__pycache__/
sync/
data/
default_job/
test/
sim_results/
.vscode
IDX_SERVER_PORT.txt
RESULTS_SERVER_PORT.txt
test_data/
playback_bots.json
*.json
*.json.gz
paper_figures/*.svg
*.ply